:root {
    --grey-950: #09090B;
    --grey-900: #18181B;
    --grey-800: #27272A;
    --grey-700: #3F3F46;
    --grey-600: #52525B;
    --grey-500: #74747C;
    --grey-400: #A1A1AA;
    --grey-300: #D4D4D8;
    --grey-200: #E4E4E7;
    --grey-100: #F4F4F5;
    --grey-50: #FAFAFA;
    --emerald: #0D9488;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-feature-settings: "lnum";
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    font-optical-sizing: auto;
    font-style: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
}

img, picture {
    max-width: 100%;
}

main {
    width: 100%;
    padding-left: 200px;
    overflow: hidden;
}

h1, h2 {
    font-family: 'Inter', sans-serif;
    font-size: clamp(2rem, 4.5vw, 4.25rem);
    font-weight: 500;
    letter-spacing: -0.025em;
    line-height: 1.333em;
    margin-bottom: 1em;
}
h3 {
    font-family: 'Inter', sans-serif;
    font-size: clamp(1.5rem, 2.25vw, 2rem);
    font-weight: 600;
    letter-spacing: -0.025em;
    margin-bottom: 0.75em;
    line-height: 1.333em;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 80vh;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em 40px;
    margin: 0;
}

.container {
    width: 100%;
    padding: 0 40px;
    max-width: 720px;
    margin: 0 auto;
}
.container-wide {
    width: 100%;
    padding: 0 40px;
    max-width: 1440px;
    margin: 0 auto;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 36px 40px;
    z-index: 999;
    transition: transform 0.3s ease;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar .menu li {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75em 0;
    line-height: 100%;
    text-align: left;
}
.sidebar .menu a {
    color: var(--grey-500);
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}
.sidebar .menu a:hover{
    color: var(--grey-950);
}
.sidebar .menu a.active {
    color: var(--grey-950);
    font-weight: 600;
}
.burger-menu {
    display: none;
    cursor: pointer;
    position: fixed;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    z-index: 1000;
    }

.burger-menu div {
    width: 20px;
    height: 2px;
    background-color: var(--grey-950);
    margin: 3px 0;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
        width: 100%;
        background-color: white;
    }

    main {
        padding-left: 0;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .burger-menu.active div:nth-child(1) {
        transform: rotate(45deg) translate(2px, 4px);
    }

    .burger-menu.active div:nth-child(2) {
        transform: rotate(-45deg) translate(2px, -4px);
    }
    .job-description {
        font-size: 0.875rem;
    }
}

.toggle-overlay {
    cursor: pointer;
    margin-top: 2em;
    transform: translateX(-20px);
    padding: 16px;
    width: 48px;
    height: 48px;
    color: var(--grey-500);
    background: none;
    border: none;
    transition: color 0.3s ease;
}
.toggle-overlay:hover {
    color: var(--grey-950);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffa000;
    mix-blend-mode: multiply;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10000;
}
.overlay.active {
    opacity: 0.4;
    pointer-events: none;
}

#contacts {
    padding-top: 4em;
    padding-bottom: 32px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
    color: var(--grey-800);
    letter-spacing: -0.025em;
    margin-bottom: 1em;
    line-height: 1.414em;
}

.reveal-type {
    font-family: 'Inter', sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 500;
    letter-spacing: -0.025em;
    margin-bottom: 4em;
    line-height: 1.414em;
}
.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

.left {
    align-items: flex-start;
    margin-bottom: 8em;
}

.right {
    align-items: flex-end;
}

.project {
    visibility: hidden;
    width: min(100%, 720px);
    overflow: hidden;
}
.project img {
    height: 100%;
    width: 100%;
    border-radius: 1em;
    object-fit: cover;
    transform-origin: center;
}

.caption {
    max-width: 400px;
    margin-top: 2.5em;
    text-align: left;
}
.subtitle {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.333;
    letter-spacing: -0.01em;
    color: var(--grey-950);
    margin-bottom: 0.333em;
}

.description {
    font-size: 0.875rem;
    line-height: 1.414;
    color: var(--grey-800);
    margin-bottom: 0;
}
.footnote {
    font-size: 0.875rem;
    line-height: 1.414;
    color: var(--grey-400);
    margin-top: 12em;
}

.loader {
    position: fixed;
    inset: 0;
    background: black;
    z-index: 9999;
}
.loading-text {
    mix-blend-mode: difference;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    margin: auto;
    height: 1.414em;
    overflow: hidden;
    z-index: 10000;
}

.loading-text span {
    font-size: 1rem;
    font-weight: 600;
    opacity: 0;
    transform: translate(0, 3em) scale(1);
    color: white;
    z-index: 10000;
    margin: 0 0.5em;
    animation: moveAnimation 2.5s forwards ease-out;
}

@keyframes moveAnimation {
    0% {
        transform: translateY(3em);
        opacity: 0;
    }
    50%, 80% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(0.5);
        opacity: 0;
    }
}

.loading-text span:nth-child(1) { animation-delay: 0s; }
.loading-text span:nth-child(2) { animation-delay: 0.12s; }
.loading-text span:nth-child(3) { animation-delay: 0.24s; }
.loading-text span:nth-child(4) { animation-delay: 0.36s; }
.loading-text span:nth-child(5) { animation-delay: 0.48s; }
.loading-text span:nth-child(6) { animation-delay: 0.6s; }
.loading-text span:nth-child(7) { animation-delay: 0.72s; }

.progress-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: white;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4em;
}

.link-visit {
    display: flex;
    width: fit-content;
    height: 2.75em;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 500;
    color: var(--grey-500);
    background-color: transparent;
    padding: 0.75em 1.25em 0.75em 0;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease;
}
.link-visit:hover {
    padding: 0.75em 1.25em;
    background-color: var(--grey-950);
    color: white;
    text-decoration: none;
}
.link-visit svg {
    width: 20px;
    height: 20px;
    margin-left: -32px;
    margin-bottom: -32px;
    opacity: 0;
    transition: all 0.3s ease;
}
.link-visit:hover svg {
    display: flex;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: -8px;
    opacity: 1;
}
.company{
    margin: 6em auto 4em auto;
}
.company-details {
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: -0.01em;
    color: var(--grey-500);
    margin-bottom: 0.333em;
}
.job-description {
    font-size: 1rem;
    line-height: 1.414;
    color: var(--grey-800);
    margin-bottom: 0;
}
.rotate-image {
    background: white;
    box-shadow: 12px 20px 56px rgba(9, 9, 11, 0.1);
    width: min(100%, 480px);
    transition: all 0.3s ease;
}
.highlight-word {
    color: var(--emerald);
    padding: 0 .2em;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease;
}
.highlight-word:hover {
    color: var(--grey-950);
}
/* Videos are positioned absolutely, invisible by default */
video {
    position: absolute;
    width: 200px;
    opacity: 0;
    pointer-events: none; /* no mouse events on the video itself */
}
ul {
    line-height: 1.25em;
    max-width: 440px;
    padding: 0 0 2em 0.8em;

}
li {
    color: var(--grey-600);
    font-size: 0.875rem;
    padding: 0.333em;
}

.zoomed-in {
    transform: scale(1);
    opacity: 1;
    will-change: transform, opacity;
}

.animated-list p {
    transform: translateX(40px);
    opacity: 0;
}

.animated-list li {
    transform: translateX(40px);
    opacity: 0;
}
.all-caps {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--grey-950);
    margin-bottom: 0.333em;
}
.shadow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}
